<h3>Réalisations &amp; Collaboration</h3>

<ul>
<% @projects.each do |project| %>
	<li>
	  <h4><a href="<%= project[1]['url'] %>"><%= project[1]['name'] %></a></h4>
	  <%= "<p class='client'><strong>Client:</strong> #{project[1]['client']}</p>" if !project[1]['client'].empty?  %>
	</li>
<% end %>
</ul>