<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" charset="utf-8" />		
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />	
	
</head>

<body>
	
	<header>
		<h1>toine</h1>
		<h2>Antoine Girard, développeur web</h2>
	</header>

	<section id="content" role="content">
		<%= yield %>
	</section>

	<footer>
		footer
	</footer>

</body>

</html>