<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= @title %></title>
	<link href='http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css" media="screen" title="no title" />		
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css' />	
	
</head>

<body>
	
	<header>
		<h1>toine</h1>
		<h2>Antoine Girard, développeur web</h2>
	</header>

	<section id="content">
		<%= yield %>
	</section>

	<footer>
		<p><a href="mailto:an@toine.ca">an@toine.ca</a></p>
		<p><strong><em>thetoine</em></strong> @ <a href="http://www.twitter.com/twitter">Twitter</a>, <a href="http://github.com/thetoine/">GitHub</a>, <a href="http://www.last.fm/user/krushcutz">Last.fm</a> &amp; <a href="http://thetoine.net/">Tumblr</a>.</p>		
	</footer>

</body>

</html>
