html {
	background: #ddd;
}

body {
	font-family: Helvetica, arial, sans-serif;
	width: 600px;
	margin: 0 auto;
	color: #5C5C5C;
	font-size: 14px;
	line-height: 18px;	
	text-shadow: #fff 0px 1px 0px;
}

a, a:visited {
	color: #888;
	text-decoration: none;
	-webkit-transition: color 0.45s ease-in; /*safari and chrome */
 	-o-transition: color 0.25s ease-in; /* opera */
}

a:hover {
	color: #1688DF;
}

p {
	margin: 0 0 3px 0;
}

h1 {
	font-size: 40px;
	line-height: 48px;
	font-weight: normal;
	margin: 0;
	font-family: "Droid Serif", Georgia, serif;
	color: #000;
	text-shadow: none;	
}

h2 {
	font-family: "Droid Serif", Georgia, serif;
	font-size: 22px;
	font-weight: normal;
	margin: 0;
}

h3 {
/*	font-family: "Droid Serif", Georgia, serif;*/
	margin: 15px 0;
	font-size: 18px;
}

h4 {
	margin: 0 0 5px 0;
	text-transform: uppercase;
}

/* header */

header {
	padding: 15px 0;
	display: block;
	border-bottom: 4px solid #333;	
}



/* main content */

#content {
	min-height: 400px;
	display: block;
}

	#content ul {
		list-style: none;
		margin: 0;
		padding: 0 0 80px 0;
		float: left;
		width: 600px;
		border-bottom: 1px solid #ccc;
	}

		#content ul li {
			margin: 0 0 15px 0;
			padding: 15px 0 0 0;
			width: 290px;
			height: 65px;
			float: left;
			border-top: 1px solid #9e9e9e;
		}
		
		#content ul li:hover {
		}
		
		#content ul li.even,
		#content ul li:nth-child(2n) {
			margin-left: 20px;
		}
				
			#content ul li a { 
				border-bottom: 1px solid #ccc;
			}
					
			#content ul li p {
				font-size: 11px;
				line-height: 14px;
				margin: 0;
				color: #888;
			}
			
			#content ul li p strong {
				display: inline-block;
				width: 80px;
			}


/* footer, huh? */
footer {
	display: block;
	clear: both;
	font-size: 12px;
	line-height: 14px;
	padding: 10px 0 40px 0;
}

footer p.colophon {
	margin-top: 15px;
}